In [3]:
import pandas as pd
import numpy as np
import math

In [8]:
fund = pd.read_csv('data/fundamentals.csv')
prices = pd.read_csv('data/prices-split-adjusted.csv')

In [5]:
def date_transfer(day):
    return day[0:10]
prices['date'] = prices.apply(lambda x: date_transfer(x['date']), axis=1)
fund.to_csv("fundamentals_clean.csv", index = False)

In [9]:
# prices.to_csv("prices_adjusted_clean.csv", index = False)

In [64]:
fund = pd.read_csv('data/fundamentals_clean.csv')
prices = pd.read_csv('data/prices_clean.csv')

In [65]:
display(fund.head())
print(fund.shape)

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,2012.0,-5.60,3.350000e+08
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,1.432300e+10,1.380600e+10,-2.731000e+09,4.500900e+10,4.227800e+10,2.674300e+10,0.0,2013.0,-11.25,1.630222e+08
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,1.175000e+10,1.340400e+10,2.021000e+09,4.120400e+10,4.322500e+10,4.265000e+10,0.0,2014.0,4.02,7.169154e+08
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,9.985000e+09,1.360500e+10,5.635000e+09,4.278000e+10,4.841500e+10,4.099000e+10,0.0,2015.0,11.39,6.681299e+08
4,4,AAP,2012-12-29,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,3.184200e+09,2.559638e+09,1.210694e+09,3.403120e+09,4.613814e+09,6.205003e+09,-27095000.0,2012.0,5.29,7.328355e+07

(1781, 79)

In [66]:
display(prices.head())
print(prices.shape)

,date,symbol,open,close,low,high,volume
0,2016-01-05,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0

(851264, 7)

In [67]:
new_df = pd.merge(fund, prices,  how='left', left_on=['Ticker Symbol','Period Ending'], right_on = ['symbol','date'])
display(new_df.head(10))

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,For Year,Earnings Per Share,Estimated Shares Outstanding,date,symbol,open,close,low,high,volume
0,0,AAL,2012-12-31,3.068000e+09,-2.220000e+08,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,2012.0,-5.60,3.350000e+08,2012-12-31,AAL,12.850000,13.500000,12.840000,13.680000,7005600.0
1,1,AAL,2013-12-31,4.975000e+09,-9.300000e+07,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,2013.0,-11.25,1.630222e+08,2013-12-31,AAL,24.740000,25.250000,24.629999,25.250000,7166600.0
2,2,AAL,2014-12-31,4.668000e+09,-1.600000e+08,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,2014.0,4.02,7.169154e+08,2014-12-31,AAL,53.900002,53.630001,53.320000,54.639999,10626000.0
3,3,AAL,2015-12-31,5.102000e+09,3.520000e+08,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,2015.0,11.39,6.681299e+08,2015-12-31,AAL,42.540001,42.349998,41.830002,42.570000,6788900.0
4,4,AAP,2012-12-29,2.409453e+09,-8.948200e+07,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,2012.0,5.29,7.328355e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,AAP,2013-12-28,2.609239e+09,-3.242800e+07,2.698000e+06,26.0,-1.957570e+08,5.312930e+08,40.0,...,2013.0,5.36,7.308918e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,AAP,2015-01-03,3.616038e+09,-4.820900e+07,3.092000e+06,25.0,-2.284460e+08,5.629450e+08,3.0,...,2014.0,6.75,7.315926e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,AAP,2016-01-02,3.757085e+09,-2.147600e+07,-7.484000e+06,19.0,-2.347470e+08,6.033320e+08,2.0,...,2015.0,6.45,7.339504e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,AAPL,2013-09-28,3.622300e+10,-1.949000e+09,1.156000e+09,30.0,-8.165000e+09,0.000000e+00,93.0,...,2013.0,40.03,9.252311e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,AAPL,2014-09-27,4.864900e+10,-6.452000e+09,9.800000e+08,35.0,-9.571000e+09,0.000000e+00,40.0,...,2014.0,6.49,6.087827e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
new_df_na = new_df[new_df['date'].isnull()]
display(new_df_na.head())
print(new_df_na.shape)
new_df_ = new_df[new_df['date'].notnull()]

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,For Year,Earnings Per Share,Estimated Shares Outstanding,date,symbol,open,close,low,high,volume
4,4,AAP,2012-12-29,2.409453e+09,-8.948200e+07,6.000000e+05,32.0,-2.711820e+08,520215000.0,23.0,...,2012.0,5.29,7.328355e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,AAP,2013-12-28,2.609239e+09,-3.242800e+07,2.698000e+06,26.0,-1.957570e+08,531293000.0,40.0,...,2013.0,5.36,7.308918e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,AAP,2015-01-03,3.616038e+09,-4.820900e+07,3.092000e+06,25.0,-2.284460e+08,562945000.0,3.0,...,2014.0,6.75,7.315926e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,AAP,2016-01-02,3.757085e+09,-2.147600e+07,-7.484000e+06,19.0,-2.347470e+08,603332000.0,2.0,...,2015.0,6.45,7.339504e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,AAPL,2013-09-28,3.622300e+10,-1.949000e+09,1.156000e+09,30.0,-8.165000e+09,0.0,93.0,...,2013.0,40.03,9.252311e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN

(424, 86)

In [69]:
new_df_na['Period Ending'] = (pd.DatetimeIndex(new_df_na['Period Ending']) - pd.offsets.Day(1)).astype(str)
display(new_df_na.head(10))

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,For Year,Earnings Per Share,Estimated Shares Outstanding,date,symbol,open,close,low,high,volume
4,4,AAP,2012-12-28,2.409453e+09,-8.948200e+07,6.000000e+05,32.0,-2.711820e+08,520215000.0,23.0,...,2012.0,5.29,7.328355e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,AAP,2013-12-27,2.609239e+09,-3.242800e+07,2.698000e+06,26.0,-1.957570e+08,531293000.0,40.0,...,2013.0,5.36,7.308918e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,AAP,2015-01-02,3.616038e+09,-4.820900e+07,3.092000e+06,25.0,-2.284460e+08,562945000.0,3.0,...,2014.0,6.75,7.315926e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,AAP,2016-01-01,3.757085e+09,-2.147600e+07,-7.484000e+06,19.0,-2.347470e+08,603332000.0,2.0,...,2015.0,6.45,7.339504e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,AAPL,2013-09-27,3.622300e+10,-1.949000e+09,1.156000e+09,30.0,-8.165000e+09,0.0,93.0,...,2013.0,40.03,9.252311e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,AAPL,2014-09-26,4.864900e+10,-6.452000e+09,9.800000e+08,35.0,-9.571000e+09,0.0,40.0,...,2014.0,6.49,6.087827e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,AAPL,2015-09-25,6.067100e+10,-3.124000e+09,1.285000e+09,45.0,-1.124700e+10,0.0,52.0,...,2015.0,9.28,5.753664e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,AAPL,2016-09-23,5.932100e+10,1.044000e+09,1.348000e+09,36.0,-1.273400e+10,0.0,85.0,...,2016.0,8.35,5.471497e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,ABBV,2012-12-30,5.734000e+09,2.230000e+08,-8.000000e+06,1507.0,-3.330000e+08,0.0,118.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28,ADI,2013-11-01,3.230840e+08,1.237700e+07,8.935000e+07,14.0,-1.230740e+08,711879000.0,821.0,...,2013.0,2.19,3.075283e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
new_df_na = new_df_na.drop(['date', 'symbol', 'open', 'close', 'low', 'high', 'volume'], axis = 1)

In [71]:
new_df_na = pd.merge(new_df_na, prices,  how='left', left_on=['Ticker Symbol','Period Ending'], right_on = ['symbol','date'])
display(new_df_na.head(10))

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,For Year,Earnings Per Share,Estimated Shares Outstanding,date,symbol,open,close,low,high,volume
0,4,AAP,2012-12-28,2.409453e+09,-8.948200e+07,6.000000e+05,32.0,-2.711820e+08,520215000.0,23.0,...,2012.0,5.29,7.328355e+07,2012-12-28,AAP,70.919998,71.510002,70.790001,71.849998,422100.0
1,5,AAP,2013-12-27,2.609239e+09,-3.242800e+07,2.698000e+06,26.0,-1.957570e+08,531293000.0,40.0,...,2013.0,5.36,7.308918e+07,2013-12-27,AAP,110.300003,109.919998,109.629997,111.940002,364200.0
2,6,AAP,2015-01-02,3.616038e+09,-4.820900e+07,3.092000e+06,25.0,-2.284460e+08,562945000.0,3.0,...,2014.0,6.75,7.315926e+07,2015-01-02,AAP,160.850006,158.559998,157.470001,162.500000,509800.0
3,7,AAP,2016-01-01,3.757085e+09,-2.147600e+07,-7.484000e+06,19.0,-2.347470e+08,603332000.0,2.0,...,2015.0,6.45,7.339504e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8,AAPL,2013-09-27,3.622300e+10,-1.949000e+09,1.156000e+09,30.0,-8.165000e+09,0.0,93.0,...,2013.0,40.03,9.252311e+08,2013-09-27,AAPL,483.779991,482.750008,480.720001,484.669998,57010100.0
5,9,AAPL,2014-09-26,4.864900e+10,-6.452000e+09,9.800000e+08,35.0,-9.571000e+09,0.0,40.0,...,2014.0,6.49,6.087827e+09,2014-09-26,AAPL,98.529999,100.750000,98.400002,100.750000,62370500.0
6,10,AAPL,2015-09-25,6.067100e+10,-3.124000e+09,1.285000e+09,45.0,-1.124700e+10,0.0,52.0,...,2015.0,9.28,5.753664e+09,2015-09-25,AAPL,116.440002,114.709999,114.019997,116.690002,56151900.0
7,11,AAPL,2016-09-23,5.932100e+10,1.044000e+09,1.348000e+09,36.0,-1.273400e+10,0.0,85.0,...,2016.0,8.35,5.471497e+09,2016-09-23,AAPL,114.419998,112.709999,111.550003,114.790001,52481200.0
8,12,ABBV,2012-12-30,5.734000e+09,2.230000e+08,-8.000000e+06,1507.0,-3.330000e+08,0.0,118.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,28,ADI,2013-11-01,3.230840e+08,1.237700e+07,8.935000e+07,14.0,-1.230740e+08,711879000.0,821.0,...,2013.0,2.19,3.075283e+08,2013-11-01,ADI,49.680000,49.680000,49.049999,49.750000,4688500.0

In [72]:
new_df_na2 = new_df_na[new_df_na['date'].isnull()]
display(new_df_na2.head())
print(new_df_na2.shape)
new_df_na_ = new_df_na[new_df_na['date'].notnull()]

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,For Year,Earnings Per Share,Estimated Shares Outstanding,date,symbol,open,close,low,high,volume
3,7,AAP,2016-01-01,3.757085e+09,-21476000.0,-7484000.0,19.0,-234747000.0,6.033320e+08,2.0,...,2015.0,6.45,7.339504e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,12,ABBV,2012-12-30,5.734000e+09,223000000.0,-8000000.0,1507.0,-333000000.0,0.000000e+00,118.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,43,ADSK,2016-01-30,5.221000e+08,-195500000.0,0.0,20.0,-72400000.0,0.000000e+00,141.0,...,2016.0,-1.46,2.263699e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,96,AMAT,2013-10-26,1.649000e+09,-404000000.0,13000000.0,4.0,-197000000.0,6.151000e+09,77.0,...,2013.0,0.21,1.219048e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,97,AMAT,2014-10-25,1.883000e+09,-21000000.0,23000000.0,14.0,-241000000.0,6.384000e+09,112.0,...,2014.0,0.88,1.218182e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN

(155, 86)

In [73]:
new_df_na2['Period Ending'] = (pd.DatetimeIndex(new_df_na2['Period Ending']) - pd.offsets.Day(1)).astype(str)
display(new_df_na2.head(10))

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,For Year,Earnings Per Share,Estimated Shares Outstanding,date,symbol,open,close,low,high,volume
3,7,AAP,2015-12-31,3.757085e+09,-21476000.0,-7484000.0,19.0,-234747000.0,6.033320e+08,2.0,...,2015.0,6.45,7.339504e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,12,ABBV,2012-12-29,5.734000e+09,223000000.0,-8000000.0,1507.0,-333000000.0,0.000000e+00,118.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,43,ADSK,2016-01-29,5.221000e+08,-195500000.0,0.0,20.0,-72400000.0,0.000000e+00,141.0,...,2016.0,-1.46,2.263699e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,96,AMAT,2013-10-25,1.649000e+09,-404000000.0,13000000.0,4.0,-197000000.0,6.151000e+09,77.0,...,2013.0,0.21,1.219048e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,97,AMAT,2014-10-24,1.883000e+09,-21000000.0,23000000.0,14.0,-241000000.0,6.384000e+09,112.0,...,2014.0,0.88,1.218182e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,98,AMAT,2015-10-23,1.833000e+09,-61000000.0,8000000.0,18.0,-215000000.0,6.575000e+09,131.0,...,2015.0,1.13,1.218584e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,99,AMAT,2016-10-28,2.056000e+09,-542000000.0,16000000.0,24.0,-253000000.0,6.809000e+09,103.0,...,2016.0,1.56,1.103205e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,164,AVGO,2015-10-30,8.670000e+08,-187000000.0,26000000.0,29.0,-593000000.0,0.000000e+00,163.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,165,AVGO,2016-10-28,1.778000e+09,-491000000.0,-113000000.0,10.0,-723000000.0,0.000000e+00,101.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,169,AVY,2015-12-31,1.363800e+09,-135900000.0,-68300000.0,28.0,-135800000.0,8.340000e+08,11.0,...,2015.0,3.01,9.112957e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
new_df_na2 = new_df_na2.drop(['date', 'symbol', 'open', 'close', 'low', 'high', 'volume'], axis = 1)
new_df_na2 = pd.merge(new_df_na2, prices,  how='left', left_on=['Ticker Symbol','Period Ending'], right_on = ['symbol','date'])
display(new_df_na2.head(10))

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,For Year,Earnings Per Share,Estimated Shares Outstanding,date,symbol,open,close,low,high,volume
0,7,AAP,2015-12-31,3.757085e+09,-21476000.0,-7484000.0,19.0,-234747000.0,6.033320e+08,2.0,...,2015.0,6.45,7.339504e+07,2015-12-31,AAP,151.259995,150.509995,150.449997,151.940002,758300.0
1,12,ABBV,2012-12-29,5.734000e+09,223000000.0,-8000000.0,1507.0,-333000000.0,0.000000e+00,118.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,43,ADSK,2016-01-29,5.221000e+08,-195500000.0,0.0,20.0,-72400000.0,0.000000e+00,141.0,...,2016.0,-1.46,2.263699e+08,2016-01-29,ADSK,45.720001,46.820000,45.340000,46.830002,2273700.0
3,96,AMAT,2013-10-25,1.649000e+09,-404000000.0,13000000.0,4.0,-197000000.0,6.151000e+09,77.0,...,2013.0,0.21,1.219048e+09,2013-10-25,AMAT,17.740000,17.700001,17.559999,17.770000,8395100.0
4,97,AMAT,2014-10-24,1.883000e+09,-21000000.0,23000000.0,14.0,-241000000.0,6.384000e+09,112.0,...,2014.0,0.88,1.218182e+09,2014-10-24,AMAT,20.990000,20.990000,20.900000,21.530001,19804200.0
5,98,AMAT,2015-10-23,1.833000e+09,-61000000.0,8000000.0,18.0,-215000000.0,6.575000e+09,131.0,...,2015.0,1.13,1.218584e+09,2015-10-23,AMAT,16.200001,16.440001,16.120001,16.510000,15106000.0
6,99,AMAT,2016-10-28,2.056000e+09,-542000000.0,16000000.0,24.0,-253000000.0,6.809000e+09,103.0,...,2016.0,1.56,1.103205e+09,2016-10-28,AMAT,28.959999,28.660000,28.570000,29.180000,11541600.0
7,164,AVGO,2015-10-30,8.670000e+08,-187000000.0,26000000.0,29.0,-593000000.0,0.000000e+00,163.0,...,NaN,NaN,NaN,2015-10-30,AVGO,120.849998,123.129997,120.169998,124.019997,2551600.0
8,165,AVGO,2016-10-28,1.778000e+09,-491000000.0,-113000000.0,10.0,-723000000.0,0.000000e+00,101.0,...,NaN,NaN,NaN,2016-10-28,AVGO,172.490005,169.350006,169.039993,172.869995,2065100.0
9,169,AVY,2015-12-31,1.363800e+09,-135900000.0,-68300000.0,28.0,-135800000.0,8.340000e+08,11.0,...,2015.0,3.01,9.112957e+07,2015-12-31,AVY,63.200001,62.660000,62.630001,63.669998,562900.0

In [75]:
df_fillna = pd.concat([new_df_, new_df_na_, new_df_na2])
df_fillna = df_fillna.sort_values(by="Unnamed: 0")
df_fillna = df_fillna.reset_index()
df_fillna.drop(['index'],axis=1,inplace=True)
display(df_fillna.head(10))
print(df_fillna.shape)

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,For Year,Earnings Per Share,Estimated Shares Outstanding,date,symbol,open,close,low,high,volume
0,0,AAL,2012-12-31,3.068000e+09,-2.220000e+08,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,2012.0,-5.60,3.350000e+08,2012-12-31,AAL,12.850000,13.500000,12.840000,13.680000,7005600.0
1,1,AAL,2013-12-31,4.975000e+09,-9.300000e+07,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,2013.0,-11.25,1.630222e+08,2013-12-31,AAL,24.740000,25.250000,24.629999,25.250000,7166600.0
2,2,AAL,2014-12-31,4.668000e+09,-1.600000e+08,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,2014.0,4.02,7.169154e+08,2014-12-31,AAL,53.900002,53.630001,53.320000,54.639999,10626000.0
3,3,AAL,2015-12-31,5.102000e+09,3.520000e+08,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,2015.0,11.39,6.681299e+08,2015-12-31,AAL,42.540001,42.349998,41.830002,42.570000,6788900.0
4,4,AAP,2012-12-28,2.409453e+09,-8.948200e+07,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,2012.0,5.29,7.328355e+07,2012-12-28,AAP,70.919998,71.510002,70.790001,71.849998,422100.0
5,5,AAP,2013-12-27,2.609239e+09,-3.242800e+07,2.698000e+06,26.0,-1.957570e+08,5.312930e+08,40.0,...,2013.0,5.36,7.308918e+07,2013-12-27,AAP,110.300003,109.919998,109.629997,111.940002,364200.0
6,6,AAP,2015-01-02,3.616038e+09,-4.820900e+07,3.092000e+06,25.0,-2.284460e+08,5.629450e+08,3.0,...,2014.0,6.75,7.315926e+07,2015-01-02,AAP,160.850006,158.559998,157.470001,162.500000,509800.0
7,7,AAP,2015-12-31,3.757085e+09,-2.147600e+07,-7.484000e+06,19.0,-2.347470e+08,6.033320e+08,2.0,...,2015.0,6.45,7.339504e+07,2015-12-31,AAP,151.259995,150.509995,150.449997,151.940002,758300.0
8,8,AAPL,2013-09-27,3.622300e+10,-1.949000e+09,1.156000e+09,30.0,-8.165000e+09,0.000000e+00,93.0,...,2013.0,40.03,9.252311e+08,2013-09-27,AAPL,483.779991,482.750008,480.720001,484.669998,57010100.0
9,9,AAPL,2014-09-26,4.864900e+10,-6.452000e+09,9.800000e+08,35.0,-9.571000e+09,0.000000e+00,40.0,...,2014.0,6.49,6.087827e+09,2014-09-26,AAPL,98.529999,100.750000,98.400002,100.750000,62370500.0

(1781, 86)

In [76]:
df_fillna = df_fillna[df_fillna['date'].notna()]

In [77]:
df_fillna.shape

(1743, 86)

In [78]:
####################################
####################################
####################################

In [79]:
df_fillna["Last PE"] = (pd.DatetimeIndex(df_fillna['Period Ending']) - pd.offsets.Day(371)).astype(str)
df_fillna["Last PE2"] = (pd.DatetimeIndex(df_fillna['Period Ending']) - pd.offsets.Day(378)).astype(str)
display(df_fillna.head(10))
print(df_fillna.shape)

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Estimated Shares Outstanding,date,symbol,open,close,low,high,volume,Last PE,Last PE2
0,0,AAL,2012-12-31,3.068000e+09,-2.220000e+08,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,3.350000e+08,2012-12-31,AAL,12.850000,13.500000,12.840000,13.680000,7005600.0,2011-12-26,2011-12-19
1,1,AAL,2013-12-31,4.975000e+09,-9.300000e+07,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,1.630222e+08,2013-12-31,AAL,24.740000,25.250000,24.629999,25.250000,7166600.0,2012-12-25,2012-12-18
2,2,AAL,2014-12-31,4.668000e+09,-1.600000e+08,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,7.169154e+08,2014-12-31,AAL,53.900002,53.630001,53.320000,54.639999,10626000.0,2013-12-25,2013-12-18
3,3,AAL,2015-12-31,5.102000e+09,3.520000e+08,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,6.681299e+08,2015-12-31,AAL,42.540001,42.349998,41.830002,42.570000,6788900.0,2014-12-25,2014-12-18
4,4,AAP,2012-12-28,2.409453e+09,-8.948200e+07,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,7.328355e+07,2012-12-28,AAP,70.919998,71.510002,70.790001,71.849998,422100.0,2011-12-23,2011-12-16
5,5,AAP,2013-12-27,2.609239e+09,-3.242800e+07,2.698000e+06,26.0,-1.957570e+08,5.312930e+08,40.0,...,7.308918e+07,2013-12-27,AAP,110.300003,109.919998,109.629997,111.940002,364200.0,2012-12-21,2012-12-14
6,6,AAP,2015-01-02,3.616038e+09,-4.820900e+07,3.092000e+06,25.0,-2.284460e+08,5.629450e+08,3.0,...,7.315926e+07,2015-01-02,AAP,160.850006,158.559998,157.470001,162.500000,509800.0,2013-12-27,2013-12-20
7,7,AAP,2015-12-31,3.757085e+09,-2.147600e+07,-7.484000e+06,19.0,-2.347470e+08,6.033320e+08,2.0,...,7.339504e+07,2015-12-31,AAP,151.259995,150.509995,150.449997,151.940002,758300.0,2014-12-25,2014-12-18
8,8,AAPL,2013-09-27,3.622300e+10,-1.949000e+09,1.156000e+09,30.0,-8.165000e+09,0.000000e+00,93.0,...,9.252311e+08,2013-09-27,AAPL,483.779991,482.750008,480.720001,484.669998,57010100.0,2012-09-21,2012-09-14
9,9,AAPL,2014-09-26,4.864900e+10,-6.452000e+09,9.800000e+08,35.0,-9.571000e+09,0.000000e+00,40.0,...,6.087827e+09,2014-09-26,AAPL,98.529999,100.750000,98.400002,100.750000,62370500.0,2013-09-20,2013-09-13

(1743, 88)

In [80]:
df_check_previous_year = pd.merge(df_fillna, prices,  how='left', left_on=['Ticker Symbol','Last PE'], right_on = ['symbol','date'])
df_check_previous_year = pd.merge(df_check_previous_year, prices, how='left', left_on=['Ticker Symbol','Last PE2'], right_on = ['symbol','date'])
display(df_check_previous_year.head(10))
print(df_check_previous_year.shape)

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,low_y,high_y,volume_y,date,symbol,open,close,low,high,volume
0,0,AAL,2012-12-31,3.068000e+09,-2.220000e+08,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,NaN,NaN,NaN,2011-12-19,AAL,6.180000,5.830000,5.760000,6.230000,5729600.0
1,1,AAL,2013-12-31,4.975000e+09,-9.300000e+07,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,NaN,NaN,NaN,2012-12-18,AAL,12.850000,12.950000,12.770000,12.950000,5615000.0
2,2,AAL,2014-12-31,4.668000e+09,-1.600000e+08,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,NaN,NaN,NaN,2013-12-18,AAL,25.990000,26.230000,25.549999,26.230000,9993900.0
3,3,AAL,2015-12-31,5.102000e+09,3.520000e+08,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,NaN,NaN,NaN,2014-12-18,AAL,48.560001,50.139999,47.500000,50.930000,16945300.0
4,4,AAP,2012-12-28,2.409453e+09,-8.948200e+07,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,69.570000,70.449997,411100.0,2011-12-16,AAP,68.320000,68.000000,67.620003,68.639999,1083900.0
5,5,AAP,2013-12-27,2.609239e+09,-3.242800e+07,2.698000e+06,26.0,-1.957570e+08,5.312930e+08,40.0,...,70.019997,71.559998,1210300.0,2012-12-14,AAP,72.970001,72.589996,72.419998,73.559998,686900.0
6,6,AAP,2015-01-02,3.616038e+09,-4.820900e+07,3.092000e+06,25.0,-2.284460e+08,5.629450e+08,3.0,...,109.629997,111.940002,364200.0,2013-12-20,AAP,108.510002,109.360001,108.510002,109.959999,1013900.0
7,7,AAP,2015-12-31,3.757085e+09,-2.147600e+07,-7.484000e+06,19.0,-2.347470e+08,6.033320e+08,2.0,...,NaN,NaN,NaN,2014-12-18,AAP,161.050003,160.740005,159.289993,161.559998,505300.0
8,8,AAPL,2013-09-27,3.622300e+10,-1.949000e+09,1.156000e+09,30.0,-8.165000e+09,0.000000e+00,93.0,...,699.359985,705.070023,142897300.0,2012-09-14,AAPL,689.959984,691.280014,687.889977,696.980011,150118500.0
9,9,AAPL,2014-09-26,4.864900e+10,-6.452000e+09,9.800000e+08,35.0,-9.571000e+09,0.000000e+00,40.0,...,465.999985,478.550018,174825700.0,2013-09-13,AAPL,469.339981,464.899986,464.699982,471.830025,74708900.0

(1743, 102)

In [81]:
df_check_previous_year = df_check_previous_year[df_check_previous_year['date_y'].notnull() | df_check_previous_year['date'].notnull()]
df_fillna_final = df_fillna.iloc[df_check_previous_year.index]

In [82]:
df_fillna_final = df_fillna_final.reset_index()
df_fillna_final.drop(['index'],axis=1,inplace=True)

In [83]:
df_fillna_final.head()

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Estimated Shares Outstanding,date,symbol,open,close,low,high,volume,Last PE,Last PE2
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,3.350000e+08,2012-12-31,AAL,12.850000,13.500000,12.840000,13.680000,7005600.0,2011-12-26,2011-12-19
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,1.630222e+08,2013-12-31,AAL,24.740000,25.250000,24.629999,25.250000,7166600.0,2012-12-25,2012-12-18
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,7.169154e+08,2014-12-31,AAL,53.900002,53.630001,53.320000,54.639999,10626000.0,2013-12-25,2013-12-18
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,6.681299e+08,2015-12-31,AAL,42.540001,42.349998,41.830002,42.570000,6788900.0,2014-12-25,2014-12-18
4,4,AAP,2012-12-28,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,7.328355e+07,2012-12-28,AAP,70.919998,71.510002,70.790001,71.849998,422100.0,2011-12-23,2011-12-16

In [84]:
df_fillna_final.to_csv('viable_final.csv',index=False)

In [309]:
###############################
###############################
####### Check next year #######
###############################
###############################

In [85]:
df_fillna_final["Next PE"] = (pd.DatetimeIndex(df_fillna_final['Period Ending']) + pd.offsets.Day(189)).astype(str)
df_fillna_final["Next PE2"] = (pd.DatetimeIndex(df_fillna_final['Period Ending']) + pd.offsets.Day(196)).astype(str)
display(df_fillna_final.head(10))
print(df_fillna_final.shape)

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,symbol,open,close,low,high,volume,Last PE,Last PE2,Next PE,Next PE2
0,0,AAL,2012-12-31,3.068000e+09,-2.220000e+08,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,AAL,12.850000,13.500000,12.840000,13.680000,7005600.0,2011-12-26,2011-12-19,2013-07-08,2013-07-15
1,1,AAL,2013-12-31,4.975000e+09,-9.300000e+07,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,AAL,24.740000,25.250000,24.629999,25.250000,7166600.0,2012-12-25,2012-12-18,2014-07-08,2014-07-15
2,2,AAL,2014-12-31,4.668000e+09,-1.600000e+08,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,AAL,53.900002,53.630001,53.320000,54.639999,10626000.0,2013-12-25,2013-12-18,2015-07-08,2015-07-15
3,3,AAL,2015-12-31,5.102000e+09,3.520000e+08,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,AAL,42.540001,42.349998,41.830002,42.570000,6788900.0,2014-12-25,2014-12-18,2016-07-07,2016-07-14
4,4,AAP,2012-12-28,2.409453e+09,-8.948200e+07,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,AAP,70.919998,71.510002,70.790001,71.849998,422100.0,2011-12-23,2011-12-16,2013-07-05,2013-07-12
5,5,AAP,2013-12-27,2.609239e+09,-3.242800e+07,2.698000e+06,26.0,-1.957570e+08,5.312930e+08,40.0,...,AAP,110.300003,109.919998,109.629997,111.940002,364200.0,2012-12-21,2012-12-14,2014-07-04,2014-07-11
6,6,AAP,2015-01-02,3.616038e+09,-4.820900e+07,3.092000e+06,25.0,-2.284460e+08,5.629450e+08,3.0,...,AAP,160.850006,158.559998,157.470001,162.500000,509800.0,2013-12-27,2013-12-20,2015-07-10,2015-07-17
7,7,AAP,2015-12-31,3.757085e+09,-2.147600e+07,-7.484000e+06,19.0,-2.347470e+08,6.033320e+08,2.0,...,AAP,151.259995,150.509995,150.449997,151.940002,758300.0,2014-12-25,2014-12-18,2016-07-07,2016-07-14
8,8,AAPL,2013-09-27,3.622300e+10,-1.949000e+09,1.156000e+09,30.0,-8.165000e+09,0.000000e+00,93.0,...,AAPL,483.779991,482.750008,480.720001,484.669998,57010100.0,2012-09-21,2012-09-14,2014-04-04,2014-04-11
9,9,AAPL,2014-09-26,4.864900e+10,-6.452000e+09,9.800000e+08,35.0,-9.571000e+09,0.000000e+00,40.0,...,AAPL,98.529999,100.750000,98.400002,100.750000,62370500.0,2013-09-20,2013-09-13,2015-04-03,2015-04-10

(1718, 90)

In [86]:
df_check_next_year = pd.merge(df_fillna_final, prices,  how='left', left_on=['Ticker Symbol','Next PE'], right_on = ['symbol','date'])
df_check_next_year = pd.merge(df_check_next_year, prices, how='left', left_on=['Ticker Symbol','Next PE2'], right_on = ['symbol','date'])
display(df_check_next_year.head(10))
print(df_check_next_year.shape)

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,low_y,high_y,volume_y,date,symbol,open,close,low,high,volume
0,0,AAL,2012-12-31,3.068000e+09,-2.220000e+08,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,16.850000,17.090000,2671200.0,2013-07-15,AAL,17.660000,17.760000,17.559999,17.830000,3267000.0
1,1,AAL,2013-12-31,4.975000e+09,-9.300000e+07,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,37.900002,40.330002,26399400.0,2014-07-15,AAL,43.330002,43.700001,42.779999,43.730000,8358400.0
2,2,AAL,2014-12-31,4.668000e+09,-1.600000e+08,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,39.139999,40.310001,11193000.0,2015-07-15,AAL,41.389999,41.540001,40.389999,42.220001,17922800.0
3,3,AAL,2015-12-31,5.102000e+09,3.520000e+08,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,28.309999,29.469999,11779800.0,2016-07-14,AAL,35.110001,35.880001,35.000000,36.189999,16884400.0
4,4,AAP,2012-12-28,2.409453e+09,-8.948200e+07,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,81.449997,82.900002,272100.0,2013-07-12,AAP,82.930000,82.669998,82.330002,83.320000,505600.0
5,5,AAP,2013-12-27,2.609239e+09,-3.242800e+07,2.698000e+06,26.0,-1.957570e+08,5.312930e+08,40.0,...,NaN,NaN,NaN,2014-07-11,AAP,132.960007,133.289993,132.490005,133.570007,484700.0
6,6,AAP,2015-01-02,3.616038e+09,-4.820900e+07,3.092000e+06,25.0,-2.284460e+08,5.629450e+08,3.0,...,162.960007,164.979996,506000.0,2015-07-17,AAP,169.070007,169.699997,168.059998,169.869995,522700.0
7,7,AAP,2015-12-31,3.757085e+09,-2.147600e+07,-7.484000e+06,19.0,-2.347470e+08,6.033320e+08,2.0,...,160.050003,162.610001,672400.0,2016-07-14,AAP,163.460007,164.960007,162.440002,165.460007,575300.0
8,8,AAPL,2013-09-27,3.622300e+10,-1.949000e+09,1.156000e+09,30.0,-8.165000e+09,0.000000e+00,93.0,...,530.579994,540.000023,68812800.0,2014-04-11,AAPL,519.000023,519.610023,517.140007,522.830017,67929400.0
9,9,AAPL,2014-09-26,4.864900e+10,-6.452000e+09,9.800000e+08,35.0,-9.571000e+09,0.000000e+00,40.0,...,NaN,NaN,NaN,2015-04-10,AAPL,125.949997,127.099998,125.260002,127.209999,40188000.0

(1718, 104)

In [87]:
df_check_next_year[df_check_next_year['date_y'].isnull() & df_check_next_year['date'].isnull()]

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,low_y,high_y,volume_y,date,symbol,open,close,low,high,volume
11,11,AAPL,2016-09-23,5.932100e+10,1.044000e+09,1.348000e+09,36.0,-1.273400e+10,0.000000e+00,85.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,19,ABC,2016-09-30,2.467016e+10,-9.127240e+08,5.048000e+06,67.0,-4.646160e+08,4.333001e+09,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,27,ADBE,2016-12-02,8.660160e+08,-1.604160e+08,1.197800e+07,16.0,-2.038050e+08,4.616331e+09,169.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,31,ADI,2016-10-28,4.313960e+08,-9.392000e+06,1.756600e+07,17.0,-1.273970e+08,4.022700e+08,518.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,67,AIZ,2016-12-30,2.080962e+09,9.275000e+06,-2.303100e+07,14.0,-8.523300e+07,3.175867e+09,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,71,AJG,2016-12-30,3.768200e+09,-2.400000e+08,0.000000e+00,12.0,-2.178000e+08,3.265500e+09,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,91,ALLE,2016-12-30,3.814000e+08,-1.980000e+07,-6.620000e+07,202.0,-4.250000e+07,0.000000e+00,73.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,95,ALXN,2016-12-30,5.720000e+08,-1.220000e+08,6.000000e+06,5.0,-3.330000e+08,7.957000e+09,157.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,99,AMAT,2016-10-28,2.056000e+09,-5.420000e+08,1.600000e+07,24.0,-2.530000e+08,6.809000e+09,103.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,111,AMGN,2016-12-30,6.801000e+09,-2.140000e+08,6.290000e+08,26.0,-7.380000e+08,0.000000e+00,340.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,123,AMZN,2016-12-30,3.904800e+10,-3.367000e+09,1.900000e+08,12.0,-6.737000e+09,1.718600e+10,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,127,AN,2016-12-30,2.612500e+09,-9.930000e+07,4.800000e+06,19.0,-2.445000e+08,1.820000e+07,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,143,APC,2016-12-30,3.157000e+09,6.770000e+08,-3.400000e+08,25.0,-3.505000e+09,1.187500e+10,96.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,147,APD,2016-09-30,1.957200e+09,-7.390000e+07,-6.900000e+06,9.0,-1.055800e+09,9.700000e+08,46.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,165,AVGO,2016-10-28,1.778000e+09,-4.910000e+08,-1.130000e+08,10.0,-7.230000e+08,0.000000e+00,101.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,181,AYI,2016-08-31,6.723000e+08,-9.460000e+07,1.600000e+06,18.0,-8.370000e+07,8.564000e+08,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,185,AZO,2016-08-26,4.690320e+09,-4.144700e+07,0.000000e+00,69.0,-4.887910e+08,1.054647e+09,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,189,BA,2016-12-30,4.975000e+10,-5.840000e+08,3.300000e+07,599.0,-2.613000e+09,4.762000e+09,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,213,BCR,2016-12-30,1.108900e+09,-2.510000e+07,-2.294000e+08,32.0,-1.003000e+08,2.346800e+09,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,217,BDX,2016-09-30,3.210000e+09,-1.280000e+08,3.200000e+07,13.0,-6.930000e+08,4.693000e+09,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218,221,BHI,2016-12-30,2.172000e+09,7.620000e+08,-2.390000e+08,22.0,-3.320000e+08,6.708000e+09,198.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222,225,BIIB,2016-12-30,3.415200e+09,-2.275000e+08,-2.174000e+08,31.0,-6.161000e+08,0.000000e+00,143.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,245,BWA,2016-12-30,1.915900e+09,-1.375000e+08,6.300000e+06,4.0,-5.006000e+08,1.104300e+09,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
258,261,CAH,2016-06-30,1.911400e+10,-8.660000e+08,-5.000000e+06,22.0,-4.650000e+08,0.000000e+00,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,265,CAT,2016-12-30,1.053200e+10,8.290000e+08,1.460000e+08,1.0,-2.928000e+09,0.000000e+00,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278,281,CCL,2016-11-30,2.453000e+09,-2.200000e+07,-2.000000e+07,12.0,-3.062000e+09,8.632000e+09,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282,285,CELG,2016-12-30,2.403400e+09,-2.224000e+08,-2.940000e+08,30.0,-2.362000e+08,1.237820e+10,269.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
286,289,CERN,2016-12-30,5.073650e+08,7.825800e+07,7.421000e+06,16.0,-4.594270e+08,1.230913e+09,42.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,313,CHTR,2016-12-30,7.544000e+09,-1.600000e+08,-3.600000e+07,9.0,-5.325000e+09,3.941300e+10,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
322,329,CLX,2016-06-30,1.035000e+09,-5.200000e+07,7.000000e+06,218.0,-1.720000e+08,8.680000e+08,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1342,1385,SBUX,2016-09-30,2.975700e+09,-5.560000e+07,1.080000e+08,48.0,-1.440300e+09,4.110000e+07,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1358,1401,SEE,2016-12-30,8.857000e+08,-3.390000e+07,-4.010000e+07,80.0,-2.757000e+08,1.974100e+09,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1378,1421,SNA,2016-12-30,6.214000e+08,-7.290000e+07,-6.000000e+05,21.0,-7.430000e+07,3.173000e+08,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1394,1437,SPGI,2016-12-30,7.430000e+08,-1.770000e+08,1.101000e+09,324.0,-1.150000e+08,5.020000e+08,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1414,1457,STT,2016-12-30,1.690100e+10,-2.980000e+08,0.000000e+00,10.0,-6.130000e+08,9.782000e+09,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1418,1461,STX,2016-07-01,2.249000e+09,4.640000e+08,2.200000e+07,16.0,-5.870000e+08,5.929000e+09,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1426,1469,SWK,2016-12-30,2.741900e+09,-6.820000e+07,2.320000e+07,15.0,-3.470000e+08,4.774400e+09,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1430,1473,SWKS,2016-09-30,1.527000e+08,1.214000e+08,8.190000e+07,28.0,-1.893000e+08,2.686000e+09,516.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1438,1485,SYK,2016-12-30,2.920000e+09,-1.920000e+08,-2.450000e+08,17.0,-4.900000e+08,1.432000e+09,107.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1446,1493,SYY,2016-07-01,4.335984e+09,-2.731100e+07,-1.113470e+08,27.0,-5.273460e+08,1.281140e+09,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1454,1501,TAP,2016-12-30,2.467700e+09,6.560000e+07,-2.500000e+06,17.0,-3.418000e+08,6.635300e+09,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1461,1509,TDG,2016-09-30,5.001870e+08,-8.011400e+07,-1.579400e+07,90.0,-4.398200e+07,1.028972e+09,211.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1465,1513,TEL,2016-09-30,2.527000e+09,1.160000e+08,-6.130000e+08,24.0,-6.280000e+08,1.801000e+09,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1495,1545,TRV,2016-12-30,2.730000e+08,3.240000e+08,0.000000e+00,13.0,0.000000e+00,0.000000e+00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1503,1553,TSN,2016-09-30,1.511000e+09,7.300000e+07,1.400000e+07,18.0,-6.950000e+08,4.355000e+09,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1543,1597,UNH,2016-12-30,2.975200e+10,-1.357000e+09,0.000000e+00,18.0,-1.705000e+09,0.000000e+00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1551,1605,UNP,2016-12-30,2.882000e+09,9.800000e+07,1.920000e+08,21.0,-3.505000e+09,4.421000e+09,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1563,1617,USB,2016-07-29,2.418000e+08,8.500000e+06,3.900000e+06,25.0,-7.290000e+07,0.000000e+00,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1567,1621,UTX,2016-12-30,1.970200e+10,-9.410000e+08,0.000000e+00,18.0,-1.699000e+09,0.000000e+00,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1571,1625,V,2016-09-30,3.005000e+09,3.260000e+08,5.560000e+08,18.0,-5.230000e+08,1.739500e+10,124.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1575,1629,VAR,2016-09-30,6.138000e+08,-1.683000e+08,1.740000e+07,23.0,-8.040000e+07,6.786000e+08,58.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1583,1637,VIAB,2016-09-30,1.226000e+09,1.490000e+08,-7.000000e+06,34.0,-1.720000e+08,1.013900e+10,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1595,1649,VNO,2016-12-30,4.586940e+08,-7.459000e+06,6.695560e+08,13.0,-1.055574e+09,7.153332e+09,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1611,1665,VTR,2016-12-30,9.916900e+08,0.000000e+00,-1.903000e+06,6.0,-1.690215e+09,1.291700e+10,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1623,1677,WDC,2016-07-01,3.615000e+09,3.510000e+08,-4.700000e+07,2.0,-5.840000e+08,4.429000e+09,121.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1635,1689,WFM,2016-09-23,7.570000e+08,-2.400000e+07,1.100000e+07,16.0,-3.210000e+08,0.000000e+00,64.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1639,1693,WHR,2016-12-30,6.197000e+09,-2.910000e+08,-7.900000e+07,19.0,-6.600000e+08,2.672000e+09,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1643,1701,WM,2016-12-30,1.884000e+09,-7.800000e+07,-5.400000e+07,22.0,-1.339000e+09,4.850000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1652,1712,WRK,2016-09-30,1.460300e+09,3.660000e+07,6.130000e+07,4.0,-7.967000e+08,1.045860e+10,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717,1780,ZTS,2016-12-30,1.076000e+09,1.500000e+07,2.000000e+06,55.0,-2.160000e+08,1.024000e+09,65.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
df_check_next_year = df_check_next_year[df_check_next_year['date_y'].notnull() | df_check_next_year['date'].notnull()]
df_vaiable = df_fillna_final.iloc[df_check_next_year.index]
df_vaiable =df_vaiable.reset_index()
df_vaiable.drop(['index'],axis=1,inplace=True)
display(df_vaiable.head(10))
print(df_vaiable.shape)

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,symbol,open,close,low,high,volume,Last PE,Last PE2,Next PE,Next PE2
0,0,AAL,2012-12-31,3.068000e+09,-2.220000e+08,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,AAL,12.850000,13.500000,12.840000,13.680000,7005600.0,2011-12-26,2011-12-19,2013-07-08,2013-07-15
1,1,AAL,2013-12-31,4.975000e+09,-9.300000e+07,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,AAL,24.740000,25.250000,24.629999,25.250000,7166600.0,2012-12-25,2012-12-18,2014-07-08,2014-07-15
2,2,AAL,2014-12-31,4.668000e+09,-1.600000e+08,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,AAL,53.900002,53.630001,53.320000,54.639999,10626000.0,2013-12-25,2013-12-18,2015-07-08,2015-07-15
3,3,AAL,2015-12-31,5.102000e+09,3.520000e+08,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,AAL,42.540001,42.349998,41.830002,42.570000,6788900.0,2014-12-25,2014-12-18,2016-07-07,2016-07-14
4,4,AAP,2012-12-28,2.409453e+09,-8.948200e+07,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,AAP,70.919998,71.510002,70.790001,71.849998,422100.0,2011-12-23,2011-12-16,2013-07-05,2013-07-12
5,5,AAP,2013-12-27,2.609239e+09,-3.242800e+07,2.698000e+06,26.0,-1.957570e+08,5.312930e+08,40.0,...,AAP,110.300003,109.919998,109.629997,111.940002,364200.0,2012-12-21,2012-12-14,2014-07-04,2014-07-11
6,6,AAP,2015-01-02,3.616038e+09,-4.820900e+07,3.092000e+06,25.0,-2.284460e+08,5.629450e+08,3.0,...,AAP,160.850006,158.559998,157.470001,162.500000,509800.0,2013-12-27,2013-12-20,2015-07-10,2015-07-17
7,7,AAP,2015-12-31,3.757085e+09,-2.147600e+07,-7.484000e+06,19.0,-2.347470e+08,6.033320e+08,2.0,...,AAP,151.259995,150.509995,150.449997,151.940002,758300.0,2014-12-25,2014-12-18,2016-07-07,2016-07-14
8,8,AAPL,2013-09-27,3.622300e+10,-1.949000e+09,1.156000e+09,30.0,-8.165000e+09,0.000000e+00,93.0,...,AAPL,483.779991,482.750008,480.720001,484.669998,57010100.0,2012-09-21,2012-09-14,2014-04-04,2014-04-11
9,9,AAPL,2014-09-26,4.864900e+10,-6.452000e+09,9.800000e+08,35.0,-9.571000e+09,0.000000e+00,40.0,...,AAPL,98.529999,100.750000,98.400002,100.750000,62370500.0,2013-09-20,2013-09-13,2015-04-03,2015-04-10

(1559, 90)

In [92]:
df_vaiable = df_vaiable[df_vaiable['Estimated Shares Outstanding'].notnull()]

In [94]:
df_vaiable.shape

(1474, 90)

In [98]:
df_vaiable.to_csv('viable_final2.csv',index=False)

## Start Gnerating Factors

In [217]:
fund = pd.read_csv("viable_final2.csv")
prices = pd.read_csv("data/prices_adjusted_clean.csv")

### Size

In [218]:
fund['Estimated Shares Outstanding'] = fund['Estimated Shares Outstanding'].abs()
fund['size'] = np.log(fund['Estimated Shares Outstanding']*fund['close'])

In [219]:
print(fund.shape)
fund.head()

(1474, 91)

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,open,close,low,high,volume,Last PE,Last PE2,Next PE,Next PE2,size
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,12.850000,13.500000,12.840000,13.680000,7005600.0,2011-12-26,2011-12-19,2013-07-08,2013-07-15,22.232331
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,24.740000,25.250000,24.629999,25.250000,7166600.0,2012-12-25,2012-12-18,2014-07-08,2014-07-15,22.138223
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,53.900002,53.630001,53.320000,54.639999,10626000.0,2013-12-25,2013-12-18,2015-07-08,2015-07-15,24.372577
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,42.540001,42.349998,41.830002,42.570000,6788900.0,2014-12-25,2014-12-18,2016-07-07,2016-07-14,24.065962
4,4,AAP,2012-12-28,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,70.919998,71.510002,70.790001,71.849998,422100.0,2011-12-23,2011-12-16,2013-07-05,2013-07-12,22.379684

In [220]:
# NaN amount estimated shares outstanding
print(sum(fund['size'].isnull()))
for i, boo in enumerate(list(fund['size'].isnull())):
    if boo == True:
        print(i)

0

In [221]:
fund['size'].describe()

count    1474.000000
mean       23.646027
std         0.981934
min        21.070135
25%        22.939313
50%        23.481926
75%        24.187746
max        27.643893
Name: size, dtype: float64

### Non-linear Size

In [222]:
fund['cube_size'] = fund['size']**3
fund.head()

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,close,low,high,volume,Last PE,Last PE2,Next PE,Next PE2,size,cube_size
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,13.500000,12.840000,13.680000,7005600.0,2011-12-26,2011-12-19,2013-07-08,2013-07-15,22.232331,10988.919347
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,25.250000,24.629999,25.250000,7166600.0,2012-12-25,2012-12-18,2014-07-08,2014-07-15,22.138223,10849.963756
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,53.630001,53.320000,54.639999,10626000.0,2013-12-25,2013-12-18,2015-07-08,2015-07-15,24.372577,14477.859469
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,42.349998,41.830002,42.570000,6788900.0,2014-12-25,2014-12-18,2016-07-07,2016-07-14,24.065962,13938.295208
4,4,AAP,2012-12-28,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,71.510002,70.790001,71.849998,422100.0,2011-12-23,2011-12-16,2013-07-05,2013-07-12,22.379684,11208.870613

In [223]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [224]:
x = np.array(fund['size']).reshape(-1,1)
y = np.array(fund['cube_size']).reshape(-1,1)
regressor = LinearRegression()  
regressor.fit(x,y)
#To retrieve the intercept:
print("Inter:",regressor.intercept_)
#For retrieving the slope:
print("Coef:", regressor.coef_)

y_pred = regressor.predict(x)
print(y_pred)
res = y-y_pred
print(res)

Inter: [-27804.8403881]
Coef: [[1737.93590128]]
[[10833.52543526]
 [10669.97256746]
 [14553.13629727]
 ...
 [11602.75199272]
 [13553.12485013]
 [13726.10299277]]
[[155.39391192]
 [179.99118854]
 [-75.27682858]
 ...
 [ 55.63434115]
 [-76.65241285]
 [-79.8278123 ]]

In [225]:
# fund['non linear size'] = np.NaN
fund['non linear size'] = res

In [226]:
fund.head()

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,low,high,volume,Last PE,Last PE2,Next PE,Next PE2,size,cube_size,non linear size
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,12.840000,13.680000,7005600.0,2011-12-26,2011-12-19,2013-07-08,2013-07-15,22.232331,10988.919347,155.393912
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,24.629999,25.250000,7166600.0,2012-12-25,2012-12-18,2014-07-08,2014-07-15,22.138223,10849.963756,179.991189
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,53.320000,54.639999,10626000.0,2013-12-25,2013-12-18,2015-07-08,2015-07-15,24.372577,14477.859469,-75.276829
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,41.830002,42.570000,6788900.0,2014-12-25,2014-12-18,2016-07-07,2016-07-14,24.065962,13938.295208,-81.963076
4,4,AAP,2012-12-28,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,70.790001,71.849998,422100.0,2011-12-23,2011-12-16,2013-07-05,2013-07-12,22.379684,11208.870613,119.254540

In [227]:
fund['non linear size'].describe()

count    1.474000e+03
mean     4.320408e-12
std      9.621340e+01
min     -8.196369e+01
25%     -6.916971e+01
50%     -2.843393e+01
75%      3.434388e+01
max      8.865694e+02
Name: non linear size, dtype: float64

### Book-to-price

In [228]:
fund['book to price'] = ((fund['Total Assets']-fund['Total Liabilities'])/fund['Estimated Shares Outstanding'])/fund['close']

In [229]:
fund['book to price'].describe()

count    1474.000000
mean        0.395521
std         0.339191
min        -0.663458
25%         0.179866
50%         0.310895
75%         0.526552
max         4.738320
Name: book to price, dtype: float64

In [230]:
print(sum(fund['book to price'].isnull()))

0

### Earning Yields-CETOP

In [231]:
fund['EY-CETOP'] = fund['Earnings Per Share']/fund['close']
print(sum(fund['EY-CETOP'].isnull()))
fund['EY-CETOP'].describe()

0

count    1474.000000
mean        0.039966
std         0.156648
min        -4.984444
25%         0.032989
50%         0.048619
75%         0.064781
max         0.451766
Name: EY-CETOP, dtype: float64

### Earning Yields-ETOP

In [232]:
fund['EY-ETOP'] = fund['Net Income']/(fund['Estimated Shares Outstanding']*fund['close'])
print(sum(fund['EY-ETOP'].isnull()))
fund['EY-ETOP'].describe()

0

count    1474.000000
mean        0.039987
std         0.156643
min        -4.984444
25%         0.032989
50%         0.048619
75%         0.064781
max         0.451766
Name: EY-ETOP, dtype: float64

### Leverage-MLEV

In [233]:
fund['Leverage-MLEV'] = (fund['Estimated Shares Outstanding']*fund['close'] + fund['Long-Term Debt'])/(fund['Estimated Shares Outstanding']*fund['close'] )
print(sum(fund['Leverage-MLEV'].isnull()))
fund['Leverage-MLEV'].describe()

0

count    1474.000000
mean        1.295751
std         0.414764
min         1.000000
25%         1.083602
50%         1.182796
75%         1.384391
max         6.925180
Name: Leverage-MLEV, dtype: float64

### Leverage-DTOA

In [234]:
fund['Leverage-DTOA'] = fund['Total Liabilities']/fund['Total Assets']
print(sum(fund['Leverage-DTOA'].isnull()))
fund['Leverage-DTOA'].describe()

0

count    1474.000000
mean        0.642438
std         0.203680
min         0.096832
25%         0.509918
50%         0.636284
75%         0.770806
max         1.605830
Name: Leverage-DTOA, dtype: float64

### Leverage-BLEV

In [235]:
fund['Leverage-BLEV'] = (fund['Total Equity'] + fund['Long-Term Debt'])/ fund['Total Equity']
print(sum(fund['Leverage-BLEV'].isnull()))
fund['Leverage-BLEV'].describe()

0

count    1474.000000
mean        1.318696
std        24.297893
min      -775.586957
25%         1.266908
50%         1.584751
75%         2.047744
max       263.333333
Name: Leverage-BLEV, dtype: float64

In [236]:
# Periodically Saving
fund.to_csv('factors_temp.csv',index=False)

### Momentum

In [345]:
# Define exponential weights
def get_exp_weights(halftime, trail = 252):
    lamb = 2**(-1/halftime)
    wei = [lamb**i for i in range(1,trail+1)]
    return wei
weights = get_exp_weights(31, 126)

In [360]:
fund = pd.read_csv("factors_temp.csv")
prices = pd.read_csv("data/prices_adjusted_clean.csv")
rmrf = pd.read_csv("data/rm_rf_MK1.csv")

In [347]:
fund.head()

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Next PE2,size,cube_size,non linear size,book to price,EY-CETOP,EY-ETOP,Leverage-MLEV,Leverage-DTOA,Leverage-BLEV
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,2013-07-15,22.232331,10988.919347,155.393912,-0.305362,-0.414815,-0.414815,2.573466,1.058741,0.109052
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,2014-07-15,22.138223,10849.963756,179.991189,-0.663458,-0.445545,-0.445545,4.729796,1.064596,-4.621750
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,2015-07-15,24.372577,14477.859469,-75.276829,0.052564,0.074958,0.074958,1.417263,0.953245,8.938149
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,2016-07-14,24.065962,13938.295208,-81.963076,0.199150,0.268949,0.268949,1.647811,0.883610,4.252884
4,4,AAP,2012-12-28,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,2013-07-12,22.379684,11208.870613,119.254540,0.231026,0.073976,0.073976,1.115344,0.737594,1.499268

In [366]:
cur_date = fund['Period Ending'][4];cur_date
sym = fund['Ticker Symbol'][4];sym

'AAP'

In [349]:
prev_day = str((pd.to_datetime(cur_date) - pd.offsets.Day(1)))[:10]
prev_day

'2012-12-27'

In [350]:
cur_close = prices[(prices['date']==cur_date) & (prices['symbol']==sym)]['close']

In [352]:
# if (not prices[(prices['date']==cur_date) & (prices['symbol']==sym)].empty) and (not rmrf[(rmrf['date']==cur_date)].empty):

In [353]:
def get_momentum(cur_date, sym):
    print(cur_date, sym)
    result = 0
    cur_close = float(prices[(prices['date']==cur_date) & (prices['symbol']==sym)]['close'])
    for i in range(126):
        count = 0
        prev_date = str((pd.to_datetime(cur_date) - pd.offsets.Day(1)))[:10]
        # while (prices[(prices['date']==prev_date) & (prices['symbol']==sym)].empty) or (rmrf[(rmrf['date']==prev_date)].empty):
        while (prices[(prices['date']==prev_date) & (prices['symbol']==sym)].empty):
        # print("jump", prev_date)
            prev_date = str((pd.to_datetime(prev_date) - pd.offsets.Day(1)))[:10]
        # cur_close = float(prices[(prices['date']==cur_date) & (prices['symbol']==sym)]['close'])
        prev_close = float(prices[(prices['date']==prev_date) & (prices['symbol']==sym)]['close'])
        return_rate = (cur_close-prev_close)/prev_close
        # rm = float(rmrf[rmrf['date'] == cur_date]['rm'])
        rf = rmrf[rmrf['date'] == cur_date]['rf']
        rf = float(rf)
        result += weights[i]*(np.log(1+return_rate)-np.log(1+rf))
        cur_date = prev_date
        cur_close = prev_close
    return result

In [362]:
for i in [13, 12, 11, 10]:
    fund1 = fund.iloc[i*100:(i+1)*100]
    fund1['momentum'] = fund1.apply(lambda row: get_momentum(row['Period Ending'], row['Ticker Symbol']), axis=1)
    fund1.to_csv('temp/factors_temp_momentum'+str(i)+'.csv',index=False)

2012-12-31 TXN
2013-12-31 TXN
2014-12-31 TXN
2015-12-31 TXN
2012-12-28 TXT
2013-12-27 TXT
2015-01-02 TXT
2015-12-31 TXT
2012-12-31 UAL
2013-12-31 UAL
2014-12-31 UAL
2015-12-31 UAL
2012-12-31 UDR
2013-12-31 UDR
2014-12-31 UDR
2015-12-31 UDR
2012-12-31 UHS
2013-12-31 UHS
2014-12-31 UHS
2015-12-31 UHS
2013-02-01 ULTA
2015-01-30 ULTA
2013-12-31 UNH
2014-12-31 UNH
2015-12-31 UNH
2012-12-31 UNM
2013-12-31 UNM
2014-12-31 UNM
2015-12-31 UNM
2013-12-31 UNP
2014-12-31 UNP
2015-12-31 UNP
2012-12-31 UPS
2013-12-31 UPS
2014-12-31 UPS
2015-12-31 UPS
2013-01-31 URBN
2014-01-31 URBN
2015-01-30 URBN
2016-01-29 URBN
2013-12-31 UTX
2014-12-31 UTX
2015-12-31 UTX
2013-09-27 VAR
2014-09-26 VAR
2015-10-02 VAR
2015-01-02 VFC
2015-12-31 VFC
2013-09-30 VIAB
2014-09-30 VIAB
2015-09-30 VIAB
2012-12-31 VLO
2013-12-31 VLO
2014-12-31 VLO
2015-12-31 VLO
2012-12-31 VMC
2013-12-31 VMC
2014-12-31 VMC
2015-12-31 VMC
2013-12-31 VNO
2014-12-31 VNO
2015-12-31 VNO
2012-12-31 VRSK
2013-12-31 VRSK
2014-12-31 VRSK
2015-12-31 VRSK
2012-12-31 VRSN
2013-12-31 VRSN
2014-12-31 VRSN
2015-12-31 VRSN
2012-12-31 VRTX
2013-12-31 VRTX
2014-12-31 VRTX
2015-12-31 VRTX
2013-12-31 VTR
2014-12-31 VTR
2015-12-31 VTR
2012-12-31 VZ
2013-12-31 VZ
2014-12-31 VZ
2015-12-31 VZ
2015-12-31 WAT
2013-06-28 WDC
2014-06-27 WDC
2015-07-02 WDC
2012-12-31 WEC
2013-12-31 WEC
2014-12-31 WEC
2015-12-31 WEC
2012-12-31 WFC
2013-12-31 WFC
2014-12-31 WFC
2015-12-31 WFC
2013-09-27 WFM
2014-09-26 WFM
2015-09-25 WFM
2013-12-31 WHR
2014-12-31 WHR
2015-12-31 WHR
2013-12-31 WM

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

2015-12-31 SPG
2013-12-31 SPGI
2014-12-31 SPGI
2015-12-31 SPGI
2013-02-01 SPLS
2014-01-31 SPLS
2015-01-30 SPLS
2016-01-29 SPLS
2012-12-31 SRCL
2013-12-31 SRCL
2014-12-31 SRCL
2015-12-31 SRCL
2012-12-31 SRE
2013-12-31 SRE
2014-12-31 SRE
2015-12-31 SRE
2012-12-31 STI
2013-12-31 STI
2014-12-31 STI
2015-12-31 STI
2013-12-31 STT
2014-12-31 STT
2015-12-31 STT
2013-06-28 STX
2014-06-27 STX
2015-07-02 STX
2013-12-27 SWK
2015-12-31 SWK
2013-09-27 SWKS
2014-10-03 SWKS
2015-10-02 SWKS
2012-12-31 SWN
2013-12-31 SWN
2014-12-31 SWN
2013-12-31 SYK
2014-12-31 SYK
2015-12-31 SYK
2013-03-28 SYMC
2014-03-28 SYMC
2015-04-02 SYMC
2016-04-01 SYMC
2013-06-28 SYY
2014-06-27 SYY
2015-06-26 SYY
2012-12-31 T
2013-12-31 T
2014-12-31 T
2015-12-31 T
2013-12-31 TAP
2014-12-31 TAP
2015-12-31 TAP
2012-12-31 TDC
2013-12-31 TDC
2014-12-31 TDC
2015-12-31 TDC
2014-09-30 TDG
2015-09-30 TDG
2013-09-27 TEL
2014-09-26 TEL
2015-09-25 TEL
2012-12-28 TGNA
2013-12-27 TGNA
2015-12-31 TGNA
2013-02-01 TGT
2014-01-31 TGT
2015-01-30 TGT
2016-01-29 TGT
2013-01-31 TIF
2014-01-31 TIF
2015-01-30 TIF
2016-01-29 TIF
2013-02-01 TJX
2014-01-31 TJX
2015-01-30 TJX
2016-01-29 TJX
2012-12-31 TMK
2013-12-31 TMK
2014-12-31 TMK
2015-12-31 TMK
2012-12-31 TMO
2013-12-31 TMO
2014-12-31 TMO
2015-12-31 TMO
2014-12-31 TRIP
2015-12-31 TRIP
2013-12-31 TRV
2014-12-31 TRV
2015-12-31 TRV
2012-12-28 TSCO
2013-12-27 TSCO
2014-12-26 TSCO
2015-12-24 TSCO
2012-12-31 TSO
2013-12-31 TSO
2014-12-31 TSO
2015-12-31 TSO
2012-12-31 TSS
2013-12-31 TSS
2014-12-31 TSS
2015-12-31 TSS
2014-01-31 PVH
2015-01-30 PVH
2016-01-29 PVH
2012-12-31 PWR
2013-12-31 PWR
2014-12-31 PWR
2015-12-31 PWR
2012-12-31 PX
2013-12-31 PX
2014-12-31 PX
2015-12-31 PX
2013-09-27 QCOM

KeyboardInterrupt:

In [363]:
# fund['momentum'] = fund.apply(lambda row: get_momentum(row['Period Ending'], row['Ticker Symbol']), axis=1)

In [364]:
get_momentum(fund['Period Ending'][99], fund['Ticker Symbol'][99])

2015-12-31 AMP

-0.05515633059330593

In [ ]:
fund.to_csv('factors_temp_momentum.csv',index=False)

In [18]:
print(sum(fund['momentum'].isnull()))
fund['momentum'].describe()

0

count    1474.000000
mean       17.718908
std         1.009171
min        14.905990
25%        17.018540
50%        17.639465
75%        18.333631
max        21.995680
Name: momentum, dtype: float64

### Liquidity--STOM

In [38]:
fund = pd.read_csv('factors_temp_momentum.csv')
prices = pd.read_csv("data/prices_adjusted_clean.csv")

In [39]:
fund.head()

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,size,cube_size,non linear size,book to price,EY-CETOP,EY-ETOP,Leverage-MLEV,Leverage-DTOA,Leverage-BLEV,momentum
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,22.232331,10988.919347,155.393912,-0.305362,-0.414815,-0.414815,2.573466,1.058741,0.109052,0.091308
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,22.138223,10849.963756,179.991189,-0.663458,-0.445545,-0.445545,4.729796,1.064596,-4.621750,0.135798
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,24.372577,14477.859469,-75.276829,0.052564,0.074958,0.074958,1.417263,0.953245,8.938149,0.205261
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,24.065962,13938.295208,-81.963076,0.199150,0.268949,0.268949,1.647811,0.883610,4.252884,-0.006586
4,4,AAP,2012-12-28,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,22.379684,11208.870613,119.254540,0.231026,0.073976,0.073976,1.115344,0.737594,1.499268,-0.007374

In [40]:
prices.head()

,date,symbol,open,close,low,high,volume
0,2016-01-05,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0

In [41]:
def get_STOM(cur_date, sym, eso):
    # print(cur_date, sym)
    temp_df = prices[prices['symbol']==sym]
    temp_df = temp_df.reset_index()
    end_date = int(temp_df[temp_df['date'] == cur_date].index.values)
    end_date-21
    temp_df = temp_df.iloc[end_date-20:end_date+1]
    return np.log(sum(temp_df['volume'])/eso)

In [42]:
fund['Liq-STOM'] = fund.apply(lambda row: get_STOM(row['Period Ending'], row['Ticker Symbol'], row['Estimated Shares Outstanding']), axis=1)

In [43]:
print(sum(fund['Liq-STOM'].isnull()))
fund['Liq-STOM'].describe()

0

count    1474.000000
mean       -1.851930
std         0.574999
min        -4.710233
25%        -2.240084
50%        -1.929263
75%        -1.518255
max         1.682619
Name: Liq-STOM, dtype: float64

In [44]:
fund.head()

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,cube_size,non linear size,book to price,EY-CETOP,EY-ETOP,Leverage-MLEV,Leverage-DTOA,Leverage-BLEV,momentum,Liq-STOM
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,10988.919347,155.393912,-0.305362,-0.414815,-0.414815,2.573466,1.058741,0.109052,0.091308,-1.038703
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,10849.963756,179.991189,-0.663458,-0.445545,-0.445545,4.729796,1.064596,-4.621750,0.135798,0.695864
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,14477.859469,-75.276829,0.052564,0.074958,0.074958,1.417263,0.953245,8.938149,0.205261,-0.872895
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,13938.295208,-81.963076,0.199150,0.268949,0.268949,1.647811,0.883610,4.252884,-0.006586,-1.418801
4,4,AAP,2012-12-28,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,11208.870613,119.254540,0.231026,0.073976,0.073976,1.115344,0.737594,1.499268,-0.007374,-1.364445

### Liquidity--STOQ

In [53]:
def get_STOQ(cur_date, sym, eso):
    # print(cur_date, sym)
    temp_df = prices[prices['symbol']==sym]
    temp_df = temp_df.reset_index()
    end_date = int(temp_df[temp_df['date'] == cur_date].index.values)
    temp_df1 = temp_df.iloc[end_date-20:end_date+1]
    temp_df2 = temp_df.iloc[end_date-41:end_date-20]
    temp_df3 = temp_df.iloc[end_date-62:end_date-41]
    result = np.log((sum(temp_df1['volume']) + sum(temp_df2['volume']) + sum(temp_df3['volume']))/(3*eso))
    return result

In [54]:
fund['Liq-STOQ'] = fund.apply(lambda row: get_STOQ(row['Period Ending'], row['Ticker Symbol'], row['Estimated Shares Outstanding']), axis=1)

In [55]:
print(sum(fund['Liq-STOQ'].isnull()))
fund['Liq-STOQ'].describe()

0

count    1474.000000
mean       -1.802372
std         0.562673
min        -4.715256
25%        -2.184175
50%        -1.855937
75%        -1.459934
max         2.128221
Name: Liq-STOQ, dtype: float64

In [56]:
fund.head()

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,non linear size,book to price,EY-CETOP,EY-ETOP,Leverage-MLEV,Leverage-DTOA,Leverage-BLEV,momentum,Liq-STOM,Liq-STOQ
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,155.393912,-0.305362,-0.414815,-0.414815,2.573466,1.058741,0.109052,0.091308,-1.038703,-1.049466
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,179.991189,-0.663458,-0.445545,-0.445545,4.729796,1.064596,-4.621750,0.135798,0.695864,0.344367
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,-75.276829,0.052564,0.074958,0.074958,1.417263,0.953245,8.938149,0.205261,-0.872895,-0.774205
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,-81.963076,0.199150,0.268949,0.268949,1.647811,0.883610,4.252884,-0.006586,-1.418801,-1.325697
4,4,AAP,2012-12-28,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,119.254540,0.231026,0.073976,0.073976,1.115344,0.737594,1.499268,-0.007374,-1.364445,-1.270684

(21, 8)

### Liquidity--STOH

In [59]:
def get_STOH(cur_date, sym, eso):
    # print(cur_date, sym)
    temp_df = prices[prices['symbol']==sym]
    temp_df = temp_df.reset_index()
    end_date = int(temp_df[temp_df['date'] == cur_date].index.values)
    temp_df1 = temp_df.iloc[end_date-20:end_date+1]
    temp_df2 = temp_df.iloc[end_date-41:end_date-20]
    temp_df3 = temp_df.iloc[end_date-62:end_date-41]
    temp_df4 = temp_df.iloc[end_date-83:end_date-62]
    temp_df5 = temp_df.iloc[end_date-104:end_date-83]
    temp_df6 = temp_df.iloc[end_date-125:end_date-104]
    result = np.log((sum(temp_df1['volume']) + sum(temp_df2['volume']) + sum(temp_df3['volume']) + sum(temp_df4['volume']) + sum(temp_df5['volume']) + sum(temp_df6['volume']))/(6*eso))
    return result

In [60]:
fund['Liq-STOH'] = fund.apply(lambda row: get_STOH(row['Period Ending'], row['Ticker Symbol'], row['Estimated Shares Outstanding']), axis=1)

In [61]:
print(sum(fund['Liq-STOH'].isnull()))
fund['Liq-STOH'].describe()

0

count    1474.000000
mean       -1.821040
std         0.550075
min        -4.552096
25%        -2.194128
50%        -1.867620
75%        -1.502888
max         2.081649
Name: Liq-STOH, dtype: float64

#### Industry

In [63]:
fund.shape

(1474, 103)

In [64]:
fund.to_csv('factors_temp_liq.csv',index=False)

In [66]:
sec = pd.read_csv('data/securities.csv')

In [67]:
sec.head()

,Ticker symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Address of Headquarters,Date first added,CIK
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",NaN,66740
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800
2,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152
3,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373
4,ATVI,Activision Blizzard,reports,Information Technology,Home Entertainment Software,"Santa Monica, California",2015-08-31,718877

In [74]:
fund = pd.merge(fund, sec[['Ticker symbol', 'GICS Sector']],  how='left', left_on=['Ticker Symbol'], right_on = ['Ticker symbol'])

In [75]:
del fund['Ticker symbol']

In [77]:
fund.head()

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,EY-CETOP,EY-ETOP,Leverage-MLEV,Leverage-DTOA,Leverage-BLEV,momentum,Liq-STOM,Liq-STOQ,Liq-STOH,GICS Sector
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,-0.414815,-0.414815,2.573466,1.058741,0.109052,0.091308,-1.038703,-1.049466,-0.844163,Industrials
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,-0.445545,-0.445545,4.729796,1.064596,-4.621750,0.135798,0.695864,0.344367,0.132459,Industrials
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,0.074958,0.074958,1.417263,0.953245,8.938149,0.205261,-0.872895,-0.774205,-0.972314,Industrials
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,0.268949,0.268949,1.647811,0.883610,4.252884,-0.006586,-1.418801,-1.325697,-1.206055,Industrials
4,4,AAP,2012-12-28,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,0.073976,0.073976,1.115344,0.737594,1.499268,-0.007374,-1.364445,-1.270684,-1.177298,Consumer Discretionary

In [88]:
tcc = pd.read_csv('viable_final2_MK4.csv')
tcc.head()

,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,Cash and Cash Equivalents,...,Last PE,Last PE2,Next PE,Next PE2,half_year_return,beta,exp_weighted_alpha,std_res,three_m_rtn,VaR
0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,1.330000e+09,...,2011-12-26,2011-12-19,2013-07-08,2013-07-15,0.217037,0.357608,-0.099730,0.028314,0.150370,-0.046172
1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,2.175000e+09,...,2012-12-25,2012-12-18,2014-07-08,2014-07-15,0.661386,1.124389,0.093856,0.022369,0.493465,-0.024731
2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,1.768000e+09,...,2013-12-25,2013-12-18,2015-07-08,2015-07-15,-0.272236,1.661482,-0.055035,0.023906,-0.082976,-0.037124
3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,1.085000e+09,...,2014-12-25,2014-12-18,2016-07-07,2016-07-14,-0.307438,1.033788,0.097942,0.018811,-0.070366,-0.035080
4,AAP,2012-12-28,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,5.981110e+08,...,2011-12-23,2011-12-16,2013-07-05,2013-07-12,0.145154,0.601798,0.042358,0.018394,0.158300,-0.019798

In [89]:
fund[['beta', 'weighted alpha', 'std_res', 'half_year_return', 'three_m_rtn', 'VaR']] = tcc[['beta', 'exp_weighted_alpha', 
                                                                                             'std_res', 'half_year_return', 'three_m_rtn', 'VaR']]

In [90]:
fund.head()

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Liq-STOM,Liq-STOQ,Liq-STOH,GICS Sector,beta,weighted alpha,std_res,half_year_return,three_m_rtn,VaR
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,-1.038703,-1.049466,-0.844163,Industrials,0.357608,-0.099730,0.028314,0.217037,0.150370,-0.046172
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,0.695864,0.344367,0.132459,Industrials,1.124389,0.093856,0.022369,0.661386,0.493465,-0.024731
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,-0.872895,-0.774205,-0.972314,Industrials,1.661482,-0.055035,0.023906,-0.272236,-0.082976,-0.037124
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,-1.418801,-1.325697,-1.206055,Industrials,1.033788,0.097942,0.018811,-0.307438,-0.070366,-0.035080
4,4,AAP,2012-12-28,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,-1.364445,-1.270684,-1.177298,Consumer Discretionary,0.601798,0.042358,0.018394,0.145154,0.158300,-0.019798

In [92]:
fund.to_csv('factors_final.csv',index=False)

In [93]:
print(sum(fund['std_res'].isnull()))
fund['std_res'].describe()

0

count    1474.000000
mean        0.012134
std         0.005179
min         0.004577
25%         0.008532
50%         0.010813
75%         0.014361
max         0.049351
Name: std_res, dtype: float64

In [94]:
print(sum(fund['beta'].isnull()))
fund['beta'].describe()

0

count    1474.000000
mean        1.013912
std         0.323246
min         0.128941
25%         0.796375
50%         1.001183
75%         1.205658
max         2.507142
Name: beta, dtype: float64

In [96]:
print(sum(fund['GICS Sector'].isnull()))
fund['GICS Sector'].describe()

0

count                       1474
unique                        11
top       Consumer Discretionary
freq                         248
Name: GICS Sector, dtype: object

In [98]:
print(sum(fund['weighted alpha'].isnull()))
fund['weighted alpha'].describe()

0

count    1474.000000
mean        0.000274
std         0.073422
min        -0.414846
25%        -0.038985
50%         0.000230
75%         0.044667
max         0.317695
Name: weighted alpha, dtype: float64

In [87]:
list(fund.columns)

['Unnamed: 0',
 'Ticker Symbol',
 'Period Ending',
 'Accounts Payable',
 'Accounts Receivable',
 "Add'l income/expense items",
 'After Tax ROE',
 'Capital Expenditures',
 'Capital Surplus',
 'Cash Ratio',
 'Cash and Cash Equivalents',
 'Changes in Inventories',
 'Common Stocks',
 'Cost of Revenue',
 'Current Ratio',
 'Deferred Asset Charges',
 'Deferred Liability Charges',
 'Depreciation',
 'Earnings Before Interest and Tax',
 'Earnings Before Tax',
 'Effect of Exchange Rate',
 'Equity Earnings/Loss Unconsolidated Subsidiary',
 'Fixed Assets',
 'Goodwill',
 'Gross Margin',
 'Gross Profit',
 'Income Tax',
 'Intangible Assets',
 'Interest Expense',
 'Inventory',
 'Investments',
 'Liabilities',
 'Long-Term Debt',
 'Long-Term Investments',
 'Minority Interest',
 'Misc. Stocks',
 'Net Borrowings',
 'Net Cash Flow',
 'Net Cash Flow-Operating',
 'Net Cash Flows-Financing',
 'Net Cash Flows-Investing',
 'Net Income',
 'Net Income Adjustments',
 'Net Income Applicable to Common Shareholders',
 'Net Income-Cont. Operations',
 'Net Receivables',
 'Non-Recurring Items',
 'Operating Income',
 'Operating Margin',
 'Other Assets',
 'Other Current Assets',
 'Other Current Liabilities',
 'Other Equity',
 'Other Financing Activities',
 'Other Investing Activities',
 'Other Liabilities',
 'Other Operating Activities',
 'Other Operating Items',
 'Pre-Tax Margin',
 'Pre-Tax ROE',
 'Profit Margin',
 'Quick Ratio',
 'Research and Development',
 'Retained Earnings',
 'Sale and Purchase of Stock',
 'Sales, General and Admin.',
 'Short-Term Debt / Current Portion of Long-Term Debt',
 'Short-Term Investments',
 'Total Assets',
 'Total Current Assets',
 'Total Current Liabilities',
 'Total Equity',
 'Total Liabilities',
 'Total Liabilities & Equity',
 'Total Revenue',
 'Treasury Stock',
 'For Year',
 'Earnings Per Share',
 'Estimated Shares Outstanding',
 'date',
 'symbol',
 'open',
 'close',
 'low',
 'high',
 'volume',
 'Last PE',
 'Last PE2',
 'Next PE',
 'Next PE2',
 'size',
 'cube_size',
 'non linear size',
 'book to price',
 'EY-CETOP',
 'EY-ETOP',
 'Leverage-MLEV',
 'Leverage-DTOA',
 'Leverage-BLEV',
 'momentum',
 'Liq-STOM',
 'Liq-STOQ',
 'Liq-STOH',
 'GICS Sector',
 'beta',
 'weighted alpha',
 'std_res']

In [103]:
model_df = fund[['Unnamed: 0', 'Period Ending', 'close','Current Ratio', 'Quick Ratio', 'Profit Margin', 'After Tax ROE', 'size',
 'non linear size', 'book to price', 'EY-CETOP', 'EY-ETOP', 'Leverage-MLEV', 'Leverage-DTOA',
 'Leverage-BLEV', 'momentum', 'Liq-STOM', 'Liq-STOQ', 'Liq-STOH', 'GICS Sector', 'beta', 'weighted alpha', 'std_res', 'half_year_return', 'three_m_rtn', 'VaR']]

In [104]:
model_df.to_csv('Data_for_model.csv', index=False)

In [ ]:
# new_df = pd.merge(fund, prices,  how='left', left_on=['Ticker Symbol','Period Ending'], right_on = ['symbol','date'])